<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title 0.4-beta2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-brand">
                <button type="button" class="navbar-toggler btn-light" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img src="~/Content/Images/icon.png" class="img-center" height="50" width="50" />
                @Html.ActionLink("The Hash Slinging Slasher", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-link">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="nav-link">@Html.ActionLink("Nilai", "Nilai", "Home")</li>
                    <li class="nav-link">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="nav-link">@Html.ActionLink("Coba", "Coba", "Home")</li>
                    <li class="nav-link">@Html.ActionLink("Barang", "../Barang", "Home")</li>
                    <li class="nav-link">@Html.ActionLink("Kategori", "../Kategori", "Home")</li>
                    <li class="nav-link">@Html.ActionLink("??????", "../Troll", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <hr/s>
    <hr />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Soul of the Damned Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
